@{
    ViewData["Title"] = "Welcome to ARS";
}

<div class="row">
    <div class="col-md-12">
        <div id="react-temperature"></div>
        <h2>Schedule for room H.x.xxx</h2>
        -- Kalender --
    </div>
</div>
