.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* FORM STYLING */
.row{
    margin-left: 0px;
    margin-right: 0px;
}

select, input {
    height: 25px;
    width: 250px;
    margin-bottom: 5px;
}

label {
    margin: 5px 0px 0px 0px;
}

@media (max-width: 767px) {
    /* On small screens, the form should span full with */

    select, input {
        width: 100%;
        height: 30px;
    }

    .hideMobile {
        display: none;
    }

    .col-xs-12{
        padding: 0;
    }
}

/* HEADER STYLING */

.page-header {
    position: relative;
}

.page-header h1 {
    margin-right: 60px;
}

.headerBtn {
    position: absolute;
    right: 0px;
    bottom: 22px;
}


    /* SCHEDULES */
    /* Styling for the schedules form */
    .schedules select {
        margin-bottom: 5px;
    }

    .schedules .description {
        display: block;
        margin-bottom: 10px;
        width: 250px;
        height: 75px;
    }

    .schedules .row {
        margin: 0px;
    }

    @media (max-width: 767px) {
        /* On small screens, the form should span full with */
        .schedules .description {
            width: 100%;
        }

        .schedules select, .schedules input,
        .schedules .datePicker .react-datepicker-wrapper,
        .schedules .datePicker .react-datepicker-wrapper .react-datepicker__input-container {
            width: 100%;
            height: 30px;
        }

        .schedules .btn {
            width: 100%;
            height: 30px;
            margin-bottom: 1rem;
        }
    }

    /* RESERVATIONS */

    .reservations .row {
        margin: 0px;
    }

    /* TABLE STYLING */

    .tbl .btn {
        margin-right: 5px;
        margin-bottom: 2px;
    }

    .tbl .head {
        border-bottom: 2px solid #ddd;
    }

    .tbl .head div,
    .tbl .head strong,
    .tbl .body div,
    .tbl .body strong {
        padding: 0;
        word-wrap: break-word;
    }

    .tbl .head div {
        font-weight: bold;
    }

    @media (max-width: 767px) {
        /* On small screens, the form should span full with */
        .tbl .btn {
            width: 100%;
            margin-bottom: 5px;
        }

        .tbl .row .first {
            padding-left: 0;
        }

        .tbl .row .last {
            padding-right: 0;
        }
    }

    /* HELPDESK */
    .systemTicketDiv {
        margin-top: 5%;
    }

    /* HELPDESK */

    /* TicketForm */
    .problem select {
        margin-left: 100px;
        width: 150px;
    }

    .location select {
        margin-left: 130px;
        width: 150px;
    }

    .classroom select {
        margin-left: 115px;
        width: 150px;
    }

    .description textarea {
        margin-left: 110px;
        width: 50px;
        height: 200px;
    }

    .date select {
        margin-left: 156px;
    }

    .time select {
        margin-left: 155px;
    }

    .formButton button {
        margin-right: 10px;
    }


    /* TicketForm */

    @media (max-width: 767px) {
        /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
        body {
            padding-top: 50px;
        }
    }

    @media (min-width: 768px) {
        /* On small screens, convert the nav menu to a vertical sidebar */
        .main-nav {
            height: 100%;
            width: calc(25% - 20px);
        }

            .main-nav .navbar {
                border-radius: 0px;
                border-width: 0px;
                height: 100%;
            }

            .main-nav .navbar-header {
                float: none;
            }

            .main-nav .navbar-collapse {
                border-top: 1px solid #444;
                padding: 0px;
            }

            .main-nav .navbar ul {
                float: none;
            }

            .main-nav .navbar li {
                float: none;
                font-size: 15px;
                margin: 6px;
            }

                .main-nav .navbar li a {
                    padding: 10px 16px;
                    border-radius: 4px;
                }

            .main-nav .navbar a {
                /* If a menu item's text is too long, truncate it */
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    }