.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* FORM STYLING */
.row{
    margin-left: 0px;
    margin-right: 0px;
}

select, input[type="text"], input[type="password"] {
    height: 25px;
    width: 250px;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    width: auto;
    height: auto;
    float: left;
}

label {
    margin: 5px 0px 0px 0px;
}

@media (max-width: 767px) {
    /* On small screens, the form should span full with */

    select, input[type="text"], input[type="password"] {
        width: 100%;
        height: 30px;
    }

    input[type="checkbox"] {
        width: auto;
    }

    .hideMobile {
        display: none;
    }

    .col-xs-12{
        padding: 0;
    }
}

@media (max-width: 991px){
    .hideTablet {
        display: none;
    }
}

/* HEADER STYLING */

.page-header {
    position: relative;
}

.page-header h1 {
    margin-right: 60px;
}

.headerBtn {
    position: absolute;
    right: 0px;
    bottom: 22px;
}


    /* SCHEDULES */
    /* Styling for the schedules form */
    .schedules select, .ticketForm select {
        margin-bottom: 5px;
    }

    .schedules .description, .ticketForm .description {
        display: block;
        margin-bottom: 10px;
        width: 250px;
        height: 75px;
    }


    .schedules .row, .ticketForm row {
        margin: 0px;
    }

    .ticketForm .btn {
        margin-right: 10px;
    }

    @media (max-width: 767px) {
        /* On small screens, the form should span full with */
        .schedules .description, .ticketForm .description {
            width: 100%;
        }

        .schedules select, .schedules input[type="text"], input[type="password"],
        .datePicker .react-datepicker-wrapper,
        .datePicker .react-datepicker-wrapper .react-datepicker__input-container {
            width: 100%;
            height: 30px;
        }

        .schedules .btn, .ticketForm .btn {
            width: 100%;
            height: 30px;
            margin-bottom: 1rem;
            margin-right: 0;
        }
    }

    /* RESERVATIONS */

    .reservations .row {
        margin: 0px;
    }

    .timeslots {
        width: 200px;
        height: 20px;
    }

    /* TABLE STYLING */

    .tbl .btn {
        width: 100%;
        margin-right: 5px;
        margin-bottom: 2px;
    }

    .tbl .head {
        border-bottom: 2px solid #ddd;
    }

    .tbl .head div,
    .tbl .head strong,
    .tbl .body div,
    .tbl .body strong {
        padding: 0;
        word-wrap: break-word;
    }

    .tbl .head div {
        font-weight: bold;
    }

    .tbl .row .last {
        display: flex;
    }

    @media (max-width: 767px) {
        /* On small screens, the form should span full with */
        .tbl .btn {
            margin-bottom: 5px;
        }

        .tbl .row .first {
            padding-left: 0;
        }

        .tbl .row .last {
            padding-right: 0;
            display: block;
        }
    }

/* HELPDESK */
.systemTicketDiv {
    margin-top: 5%;
}

html {
    font-size: 10px;
}

body {
    font-size: 16px;
}

h4 {
    margin-top: 20px;
}

.jumbotron {
    background-color: #3174ad;
    color: white;
}

    .jumbotron a {
        font-size: 85%;
        color: #e6e6e6;
    }

.contain {
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.docs {
    background-color: #3174ad;
    margin-top: 20px;
    padding: 30px;
}

.examples {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.example {
    font-size: 14px;
    padding: 0 40px;
    min-height: calc(100vh - 20px);
    min-height: max-content;
    height: calc(100vh - 20px);
    width: 100%;
    margin: auto;
}

.example,
.example > * {
    display: flex;
    flex-direction: column;
}

.example .rbc-calendar {
    flex: 1;
    min-height: 580px;
}

.rbc-month-view {
    display:block !important;
    height:100px !important;
}

.examples--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

    .examples--list > li {
        text-align: center;
    }

    .examples--list a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 1.4rem 1rem;
        white-space: nowrap;
        border-radius: .3rem;
    }

        .examples--list a:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 4px;
        }

        .examples--list a:hover:after {
            background-color: #3174ad;
        }

.section {
    margin-bottom: 20px;
}

aside {
    margin-bottom: 40px;
}

h3 > a > code,
h4 > a > code {
    color: #3174ad;
    background: none;
    padding: 0;
}

.view-source {
    font-size: 90%;
    float: right;
    margin-bottom: 15px;
    margin-left: auto;
}

.callout {
    border-left: 4px solid #3174ad;
    padding: 10px;
    color: #265985;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 0;
}

pre {
    border-radius: 0;
    border: none;
    border-left: 4px solid #ccc;
}

    pre.shape-prop {
        border: none;
    }

code {
    color: #555;
    background-color: rgba(0, 0, 0, 0.04);
}

.playgroundStage,
.cm-s-neo.CodeMirror {
    background-color: #F4F4F4;
    height: auto;
    min-height: 75px;
}

.CodeMirror {
    font-size: 12px;
}

.cm-s-neo div.CodeMirror-cursor {
    border-left: 1px solid #9b9da2;
}

.cm-s-neo .CodeMirror-linenumber {
    color: #ccc;
}

.cm-s-neo .cm-atom,
.cm-s-neo .cm-number {
    color: #905;
}

.prop-table {
    font-size: 14px;
}

.playgroundStage {
    padding: 15px 0 15px 15px;
}

.playground.collapsableCode .playgroundCode {
    height: 0;
    overflow: hidden;
}

    .playground.collapsableCode .playgroundCode.expandedCode {
        height: auto;
    }

.playgroundPreview {
    position: relative;
    padding: 40px 15px 15px 15px;
}

    .playgroundPreview:before {
        position: absolute;
        top: 3px;
        left: 7px;
        color: #959595;
        border-bottom: 1px solid #eee;
        padding: 0 3px;
        content: 'Result';
    }

.playground {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
}

.playgroundCode,
.playgroundPreview {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.playgroundToggleCodeBar {
    padding: 1px;
    border-top: 1px solid #ccc;
}

.playgroundToggleCodeLink {
    color: #333;
    background-color: #ccc;
    margin-top: 1px;
    margin-left: -1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 3px 5px;
}

    .playgroundToggleCodeLink:hover,
    .playgroundToggleCodeLink:focus {
        color: black;
    }

.anchor,
.anchor:hover,
.anchor:active,
.anchor:focus {
    color: black;
    text-decoration: none;
    position: relative;
}

.anchor-icon {
    font-size: 90%;
    padding-top: 0.1em;
    position: absolute;
    left: -0.8em;
    opacity: 0;
}

h1:hover .anchor-icon,
h1 a:focus .anchor-icon,
h2:hover .anchor-icon,
h2 a:focus .anchor-icon,
h3:hover .anchor-icon,
h3 a:focus .anchor-icon,
h4:hover .anchor-icon,
h4 a:focus .anchor-icon {
    opacity: 0.5;
}

.special-day {
    background-color: #fec;
}

/* HELPDESK */



/* TicketForm */

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }

        .main-nav .navbar {
            border-radius: 0px;
            border-width: 0px;
            height: 100%;
        }

        .main-nav .navbar {
            border-radius: 0px;
            border-width: 0px;
            height: 100%;
        }

        .main-nav .navbar-header {
            float: none;
        }

        .main-nav .navbar-collapse {
            border-top: 1px solid #444;
            padding: 0px;
        }

        .main-nav .navbar ul {
            float: none;
        }

        .main-nav .navbar li {
            float: none;
            font-size: 15px;
            margin: 6px;
        }

        .main-nav .navbar li a {
            padding: 10px 16px;
            border-radius: 4px;
        }

    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 767px) {

    .btn.btn-full-width-mobile {
        width: 100%;
    }
}

/* Nav menu */
.adminHeader {
    color: #9d9d9d;
    font-size: 20px;
    list-style-type: none;
    padding-left: 15px;
    margin-top: 20px;
}

.nameHeader{
    color: #9d9d9d;
    font-size: 20px!important;
    list-style-type: none;
    padding-left: 15px;
    margin-top: 20px;
}

.marginLeftBtn {
    margin-left: 20px
}