################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ars-ictlab/.vs/ars-ictlab/v15/Server/sqlite3
