@{
    ViewData["Title"] = "Admin - Users overview";
}

<div class="row">
    <div class="col-md-12">
        <h1>Users overview</h1>

        <ul>
            <li>Andy</li>
            <li>Andy</li>
            <li>Andy</li>
            <li>Andy</li>
            <li>Andy</li>
            <li>Andy</li>
            <li>Andy</li>
        </ul>
    </div>
</div>
