@{
    ViewData["Title"] = "Classrooms overview";
}

<div class="row">
    <div class="col-md-12">
        <h1>Classrooms</h1>
        <label>Locatie</label>
        <select>
            <option>Kralingse Zoom</option>
            <option>Kralingse Zoom</option>
            <option>Kralingse Zoom</option>
            <option>Kralingse Zoom</option>
        </select>
        
        <label>Lokaal</label>
        <select>
            <option>H.4.312</option>
            <option>H.4.312</option>
            <option>H.4.312</option>
            <option>H.4.312</option>
        </select>
    </div>
</div>
