@{
    ViewData["Title"] = "Classrooms overview";
}

<div class="row">
    <div class="col-md-12">
        <h1>Classrooms</h1>
        <div id="react-classroom-overview"></div>
        <div id="react-classroom-schedule"></div>
    </div>
</div>

<script src="@Url.Content("~/js/classroom-selection-form.jsx")"></script>
